<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/ibnusina.jpg}">
    <link th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

    <script th:href="@{/js/jquery-2.1.4.js}"></script>
    <link th:href="@{/css/semantic.min.css}" rel="stylesheet"/>
    <script th:href="@{/js/semantic.min.js}"></script>

    <link th:href="@{/css/lib/calendar2/semantic.ui.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/helper.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Keanggotaan</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Daftar Anggota</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-9">
                    <div class="card">
                        <div class="card-title">
                            <h4>Daftar Anggota</h4>
                            <a th:href="${'/anggota/form'}"><button style="float:right" type="button" class="btn btn-primary m-b-10 m-l-5">Buat Anggota</button></a>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" th:if="${not #lists.isEmpty(anggotas)}">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>id jabatan</th>
                                            <th>Nama</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="anggota : ${anggotas}">
                                            <td th:text="${anggota.idJabatan}"> id jabatan</td>
                                            <td th:text="${anggota.nama}"> nama </td>
                                            <td>
                                                <a th:href="${'/anggota/update/'+anggota.id}"><button type="button" class="btn btn-warning m-b-10 m-l-5">Edit</button></a>
                                                <a th:href="${'/anggota/hapus/'+anggota.id}"><button onclick="return confirm('Konfirmasi untuk hapus?')" type="button" class="btn btn-danger m-b-10 m-l-5">Hapus</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
