<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{images/ibnusina.jpg}">
    <link th:href="@{/css/lib/bootstrap/bootstrap.min.css}" rel="stylesheet"/>

    <script th:href="@{/js/jquery-2.1.4.js}"></script>
    <link th:href="@{/css/semantic.min.css}" rel="stylesheet"/>
    <script th:href="@{/js/semantic.min.js}"></script>

    <link th:href="@{/css/lib/calendar2/semantic.ui.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/calendar2/pignose.calendar.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/owl.carousel.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/lib/owl.theme.default.min.css}" rel="stylesheet"/>
    <link th:href="@{/css/helper.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>

    <script src="https://rawgit.com/jackmoore/autosize/master/dist/autosize.min.js"></script>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Keanggotaan</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Daftar Anggota</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-title">
                            <h4>Daftar Anggota</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>id jabatan</th>
                                            <th>Nama</th>
                                            <th>Posisi</th>
                                            <th>Aksi</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td> id jabatan</td>
                                            <td> nama </td>
                                            <td> keterangan</td>
                                            <td>
                                                <button onclick="location.href=''" type="button" class="btn btn-warning m-b-10 m-l-5">Edit</button>
                                                <a href=""><button onclick="return confirm('Konfirmasi untuk hapus?')" type="button" class="btn btn-danger m-b-10 m-l-5">Hapus</button></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <!-- /# column -->
                <!-- /# column -->
                <div class="col-lg-6">
                    <!-- TAMBAH -->
                    <div class="card">
                        <div class="card-title">
                            <h4>Tambah Anggota</h4>
                        </div>
                        <div class="card-body">
                            <div class="horizontal-form">
                                <form method="post" action="" class="form-horizontal">
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Nama Lengkap</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="namaAnggota" class="form-control" placeholder="Nama Anggota">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Jabatan</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="jabatanAnggota">
                                                <option>Pilih Jabatan</option>
                                                <tr>
                                                    <td style   ="display:none"> </td>
                                                    <option value="">1</option>
                                                </tr>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="usernameAnggota" class="form-control" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" name="passwordAnggota" class="form-control" placeholder="Password">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-success m-b-10 m-l-5">tambah anggota</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
