<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/masjid/form_anggota.js}"></script>
</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Form Anggota</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Anggota</li>
                    <li class="breadcrumb-item active">Form</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-md-6">
                    <!-- TAMBAH -->
                    <div class="card">
                        <div class="card-title">
                            <h4>Simpan Anggota</h4>
                        </div>
                        <div class="card-body">
                            <div class="horizontal-form">
                                <form method="post" class="form-horizontal" th:object="${anggota}" th:action="@{/anggota/simpan}">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Nama Lengkap</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="aktif" class="form-control" th:field="*{aktif}" hidden>
                                            <input type="text" name="namaAnggota" class="form-control" placeholder="Nama Anggota" th:field="*{nama}" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Jabatan</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="idJabatan" th:field="*{idJabatan}" required>
                                                <option value="" th:selected="${idJabatan==0}">Pilih Jabatan</option>
                                                <option value="1" th:selected="${idJabatan==1}" hidden>Ketua Takmir</option>
                                                <option value="2" th:selected="${idJabatan==2}">Sekertaris Takmir</option>
                                                <option value="3" th:selected="${idJabatan==3}">Kepala Rumah Tangga Takmir</option>
                                                <option value="4" th:selected="${idJabatan==4}">Anggota Takmir</option>
                                                <option value="5" th:selected="${idJabatan==5}">Anggota Remaja Masjid</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Username</label>
                                        <div class="col-sm-10">
                                            <label class="col-sm-12 control-label">[[*{username}]]</label>
                                            <input type="text" onkeyup="cekUsernameAvailable()" id="username" th:classappend="${formbaru == 1} ? null : hidden" name="username" class="form-control" placeholder="Username" th:field="*{username}" required autocomplete="off">
                                            <div id="peringatan" class="alert alert-danger hidden">
                                                Username tidak dapat digunakan
                                            </div>
                                            <div id="peringatan2" class="alert alert-danger hidden">
                                                Harap masukan 6 karakter username
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group"  th:classappend="${formbaru == 1} ? null : hidden">
                                        <label class="col-sm-12 control-label">Password</label>
                                        <div class="col-sm-10">
                                            <input type="password" onkeyup="cekPassword()" id="password" name="password" class="form-control" placeholder="Password" th:value="*{password}" required>
                                            <div id="peringatan3" class="alert alert-danger hidden">
                                                Harap masukan 6 karakter password
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button id="tombol-kirim" type="submit" class="btn btn-success m-b-10 m-l-5">simpan anggota</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6" th:classappend="${formbaru == 1} ? hidden : null">
                    <!-- RESET -->
                    <div class="card">
                        <div class="card-title">
                            <h4>Reset Password</h4>
                        </div>
                        <div class="card-body">
                            <div class="horizontal-form">
                                <form method="post" class="form-horizontal" th:object="${anggota}" th:action="@{/anggota/resetpassword}">
                                    <input type="hidden" th:field="*{id}" />
                                    <div class="form-group" hidden>
                                        <label class="col-sm-12 control-label">Nama Lengkap</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="aktif" class="form-control" th:field="*{aktif}" hidden>
                                            <input type="text" name="namaAnggota" class="form-control" placeholder="Nama Anggota" th:field="*{nama}">
                                        </div>
                                    </div>
                                    <div class="form-group" hidden>
                                        <label class="col-sm-12 control-label">Jabatan</label>
                                        <div class="col-sm-10">
                                            <select class="form-control" name="idJabatan" th:field="*{idJabatan}">
                                                <option value="0" th:selected="${idJabatan==0}">Pilih Jabatan</option>
                                                <option value="1" th:selected="${idJabatan==1}">Ketua Takmir</option>
                                                <option value="2" th:selected="${idJabatan==2}">Sekertaris Takmir</option>
                                                <option value="3" th:selected="${idJabatan==3}">Kepala Rumah Tangga Takmir</option>
                                                <option value="4" th:selected="${idJabatan==4}">Anggota Takmir</option>
                                                <option value="5" th:selected="${idJabatan==5}">Anggota Remaja Masjid</option>
                                            </select>
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="form-group" hidden>
                                        <label class="col-sm-12 control-label">Username</label>
                                        <div class="col-sm-10">
                                            <input type="text" name="username" class="form-control" placeholder="Username" th:field="*{username}">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Password Baru</label>
                                        <div class="col-sm-10">
                                            <input type="password" name="password" class="form-control" placeholder="Password" th:value="*{password}">
                                        </div>
                                    </div>
                                    <div class="form-group" >
                                        <div class="col-sm-offset-2 col-sm-10">
                                            <button type="submit" class="btn btn-warning m-b-10 m-l-5">Reset Password</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
