<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/masjid/daftar_pekerjaan.js}"></script>
</head>
<body>

    <div layout:fragment="content">
                <!-- Bread crumb -->
                <div class="row page-titles">
                    <div class="col-md-5 align-self-center">
                        <h3 class="text-primary">Pekerjaan</h3> </div>
                    <div class="col-md-7 align-self-center">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                            <li class="breadcrumb-item active">Daftar Pekerjaan</li>
                        </ol>
                    </div>
                </div>
                <!-- End Bread crumb -->
        <!-- KONTENT START -->
                <div class="container-fluid">
                    <div class="row">
                        <!-- /# column -->
                        <div class="col-lg-12">
                            <div class="card">
                                <div class="card-title">
                                    <h4>Daftar Pekerjaan</h4>
                                    <a th:href="${'/pekerjaan/cari'}"><button style="float:right" type="button" class="btn btn-primary m-b-10 m-l-5">Filter Pekerjaan</button></a>
                                    <a th:href="${'/pekerjaan/form'}"><button style="float:right" type="button" class="btn btn-success m-b-10 m-l-5">Tambah Pekerjaan</button></a>
                                    <button onclick="hello()">tes</button>
                                </div>

                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table id="myTable" class="table table-bordered table-striped">
                                            <thead>
                                            <tr>
                                                <th>Pekerjaan</th>
                                                <th>Deskripsi Pekerjaan</th>
                                                <th>Verifikasi</th>
                                                <th>Aksi</th>
                                            </tr>
                                            </thead>
                                            <tbody id="list-pekerjaan">
                                                <tr>
                                                    <td>Nama Pekerjaan</td>
                                                    <td>Deskripsi Pekerjaan</td>
                                                    <td>Status Pekerjaan</td>
                                                    <td>halo</td>
                                                </tr>
                                                <!--<tr th:each="pekerjaan : ${pekerjaans}">
                                                    <td th:text="${pekerjaan.namaPekerjaan}">Nama Pekerjaan</td>
                                                    <td th:text="${pekerjaan.deskripsi}">Deskripsi Progres</td>
                                                    <td>
                                                        <div th:if="${pekerjaan.idStatus == '0'}" class="alert alert-danger">
                                                            Belum Verifikasi Ketua Takmir  <br><a href="#" class="alert-link"><i class="fa fa-check-square-o"></i>Verifikasi Sekarang</a>
                                                        </div>
                                                        <div th:if="${pekerjaan.idStatus == '1'}" class="alert alert-info">
                                                            Sedang dikerjakan
                                                            <a href="#" class="alert-link"></a>
                                                        </div>

                                                        <div th:if="${pekerjaan.idStatus == '2'}" class="alert alert-light">
                                                            Selesai
                                                            <a href="#" class="alert-link"></a>
                                                        </div>
                                                    </td>
                                                    <td><a th:href="${'/pekerjaan/detail/'+pekerjaan.id}"><button type="button" class="btn btn-info m-b-10 m-l-5">Lihat</button></a></td>
                                                </tr>-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <br>
                            </div>
                        </div>
                        <!-- /# column -->
                    </div>
                </div>
        <!-- END KONTENT -->
    </div>
</body>
</html>
