<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Pekerjaan</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Detail Pekerjaan</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-lg-12">
                    <div class="card" th:each="pekerjaan : ${pekerjaans}">
                        <div id="invoice" class="effect2">
                            <div id="invoice-top">
                                <!--End Title-->
                                <div id="col-lg-6">
                                    <br>
                                    <h2 th:text="${pekerjaan.namaPekerjaan}">nama proyek</h2>
                                    <p th:text="${pekerjaan.deskripsi}">deskripsi</p>
                                    <p th:text="${'PIC : '+pekerjaan.deskripsi}">deskripsi</p>
                                    <span class="badge badge-danger" th:if="${pekerjaan.idStatus == '0'}" >Belum verifikasi ketua takmir</span>
                                    <span class="badge badge-light" th:if="${pekerjaan.idStatus == '1'}" >Selesai</span>
                                    <span class="badge badge-info" th:if="${pekerjaan.idStatus == '2'}" >Sedang berjalan</span>
                                </div>
                            </div>
                            <!--End InvoiceTop-->
                            <!--End Invoice Mid-->

                            <div id="invoice-bot">

                                <div id="invoice-table">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <tr class="tabletitle">
                                                <td class="table-item">
                                                    <h2>Deskripsi Progress</h2>
                                                </td>
                                                <td class="table-item">
                                                    <h2>Tanggal</h2>
                                                </td>
                                                <td class="table-item">
                                                    <h2>Status</h2>
                                                </td>
                                                <td class="table-item">
                                                    <h2>Aksi</h2>
                                                </td>
                                            </tr>
                                            <tr class="service">
                                                <td class="tableitem">
                                                    <p class="itemtext">keterangan</p>
                                                </td>
                                                <td class="tableitem">
                                                    <p class="itemtext">waktu</p>
                                                </td>
                                                <td class="tableitem">
                                                    <p class="itemtext"><span class="badge badge-warning">Belum terverifikasi</span></p>
                                                    <p class="itemtext"><span class="badge badge-success">terverifikasi</span></p>
                                                    <p class="itemtext"><span class="badge badge-secondary">tidak diverifikasi</span></p>
                                                </td>
                                                <td class="tableitem">
                                                    <p class="itemtext"><button type="button" class="btn btn-info m-b-10 m-l-5">Buka Notulensi</button></p>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!--End Table-->
                            </div>
                            <!--End InvoiceBot-->
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
