<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/masjid/detail_pekerjaan.js}"></script>
</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Pekerjaan</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Detail Pekerjaan</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">

            <div class="row">
                <input id="idPekerjaan" th:value="${idPekerjaan}" hidden/>
                <!-- /# column -->
                <div class="col-lg-12">
                    <div class="card">
                        <h2>[[*{namaPekerjaan}]]</h2>
                        <p>[[*{deskripsiPekerjaan}]]</p>
                        <p>PIC : <b>[[*{pic}]]</b></p>
                        <hr>
                        <div>
                            <span class="btn link m-b-10 m-l-5" style="color:#0d71bb" >Pekerjaan Sedang berjalan</span>
                            |<button type="button" class="btn btn-danger m-b-10 m-l-5">Hapus</button>
                            <button type="button" class="btn btn-primary m-b-10 m-l-5">edit</button>
                            <button type="button" class="btn btn-success m-b-10 m-l-5">verifikasi</button>
                        </div>
                        <hr>
                        <div>
                            <input id="progres" type="text" class="form-control input-default " placeholder="Masukkan progres">
                            <button onclick="simpanProgres()" type="button" class="btn btn-primary btn-block m-t-10">Kirim Progres</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Data Progres</h4>
                            <div class="table-responsive m-t-5">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th>Tanggal Progres</th>
                                        <th>Keterangan</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="progres : ${progress}">
                                        <td th:text="${progres.convertedDate}">2011/04/25</td>
                                        <td th:text="${progres.keterangan}">Progres ku udah sampe sini</td>
                                        <td>
                                            <a th:href="${'/pekerjaan/hapusprogres/'+idPekerjaan+'/'+progres.id}" th:if="${progres.notulensi} == null"
                                                class="btn btn-danger m-b-10 m-l-5">Hapus</a>
                                            <a th:href="${'/notulensi/detail/'+progres.notulensi}" th:if="${progres.notulensi} != null" class="btn btn-info m-b-10 m-l-5">Buka Notulensi</a>
                                        </td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
        <script th:src="@{/js/masjid/detail_pekerjaan.js}"></script>
    </div>
    <!-- END KONTENT -->
</body>
</html>
