<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Pekerjaan</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Pekerjaan</li>
                    <li class="breadcrumb-item active">Form</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-lg-8">
                    <!-- TAMBAH -->
                    <div class="card">
                        <div class="card-title">
                            <h4>Simpan Pekerjaan</h4>
                        </div>
                        <div class="card-body">
                            <div class="horizontal-form">
                                <form method="post" class="form-horizontal" th:action="@{/pekerjaan/simpan}">
                                    <input name="id" th:field="*{pekerjaan.id}" hidden />
                                    <div class="form-group">
                                        <label class="col-md-12 control-label">Nama Pekerjaan</label>
                                        <div class="col-md-12">
                                            <input type="text" th:field="*{pekerjaan.namaPekerjaan}" name="namaPekerjaan" class="form-control" placeholder="Nama Pekerjaan" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 control-label">Deskripsi singkat pekerjaan</label>
                                        <div class="col-md-12">
                                            <input type="text" th:field="*{pekerjaan.deskripsi}" name="deskripsi" class="form-control" placeholder="Deskripsi singkat" required autocomplete="off">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-12 control-label">Penanggung Jawab</label>
                                        <div class="col-md-12">
                                            <select class="form-control" name="anggota" th:field="*{pekerjaan.anggota}" required>
                                                <option value="">Pilih Penanggung Jawab</option>
                                                <option th:each="anggota : ${anggotas}" th:value="${anggota.id}" th:text="${anggota.nama}">Pilih Penanggung Jawab</option>

                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-12">
                                            <button type="submit" class="btn btn-success m-b-12 m-l-5">Simpan pekerjaan</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
