<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Pekerjaan</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Pekerjaan</li>
                    <li class="breadcrumb-item active">Form</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-lg-8">
                    <!-- TAMBAH -->
                    <div class="card">
                        <div class="card-title">
                            <h4>Tambah Pekerjaan</h4>
                        </div>
                        <div class="card-body">
                            <div class="horizontal-form">
                                <form method="post" th:object="${pekerjaan}" th:action="@{/pekerjaan/simpan}" class="form-horizontal" >
                                    <input type="hidden" th:field="*{id}" />
                                    <input type="hidden" th:field="*{anggota.id}" />
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Nama Pekerjaan</label>
                                        <div class="col-sm-12">
                                            <input type="text" th:field="*{namaPekerjaan}" name="namaProyek" class="form-control" placeholder="Nama Pekerjaan">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label">Deskripsi singkat pekerjaan</label>
                                        <div class="col-sm-12">
                                            <input type="text" th:field="*{deskripsi}" name="deskripsiProyek" class="form-control" placeholder="Deskripsi singkat">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12 control-label" th:text="*{anggota.id}">Penanggung Jawab</label>
                                        <div class="col-sm-12">
                                            <form:select path="country">
                                                <form:option value="NONE" label="--- Select ---"/>
                                                <form:options items="${anggotas}" />
                                            </form:select>
                                            <select class="form-control" name="anggota" th:field="*{anggota.id}">
                                                <option value="">Pilih Penanggung Jawab</option>
                                                <!--<div th:each="a : ${anggotas}">-->
                                                    <!--<option th:value="${a}" th:text="${a.nama}+${a.id}" th:selected="${pekerjaan.anggota.id} == ${a.id}">Pilih Penanggung Jawab</option>-->
                                                <!--</div>-->
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-sm-offset-2 col-sm-12">
                                            <button type="submit" class="btn btn-success m-b-12 m-l-5">Buat pekerjaan</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
