<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/masjid/login.js}"></script>
</head>
<body>
<!-- KONTENT START -->
<div layout:fragment="body-main">
    <div class="unix-login">
        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="login-content card">
                        <div class="login-form">
                            <h4>Login</h4>
                            <div th:if="${param.error}" class="alert alert-danger">
                                Invalid username and password.
                            </div>
                            <form th:action="@{/login-user}" method="post">
                                <div class="form-group">
                                    <label>Username</label>
                                    <input onkeyup="cekUsernameActive()" type="text" class="form-control" placeholder="Username" id="username" name="username" autofocus required autocomplete="off">
                                    <div id="peringatan" class="alert alert-danger hidden">
                                        Username tidak dapat digunakan
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input type="password" class="form-control" placeholder="Password" id="password" name="password" required>
                                </div>
                                <!-- <div class="checkbox">
                                    <label>
                                            <input type="checkbox"> Remember Me
                                        </label>
                                    <label class="pull-right">
                                            <a href="#">Forgotten Password?</a>
                                        </label>

                                </div> -->
                                <button id="tombol-kirim" type="submit" class="btn btn-primary btn-flat m-b-30 m-t-30">Sign in</button>
                                <!-- <div class="register-link m-t-15 text-center">
                                    <p>Don't have account ? <a href="#"> Sign Up Here</a></p>
                                </div> -->
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END KONTENT -->
</body>
</html>
