<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Notulensi</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item active">Daftar Notulensi</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-title">
                            <h4>Daftar Notulensi</h4>
                            <a href=""><button style="float:right" type="button" class="btn btn-primary m-b-10 m-l-5">Buat Notulensi</button></a>
                        </div>

                        <div class="card-body">
                            <div class="table-responsive">
                                <table id="myTable" class="table table-bordered table-striped">
                                    <thead>
                                    <tr>
                                        <th style="display:none">idNotulen</th>
                                        <th>Tanggal Notulensi</th>
                                        <th>Notulen Musyawarah</th>
                                        <th>Pokok Bahasan</th>
                                        <th>Verifikasi</th>
                                        <th>Aksi</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td style="display:none"><?php echo $notulen->created_at; ?></td>
                                        <td>17 November 2006</td>
                                        <td>Amir musyawarah</td>
                                        <td>A, B, C, D</td>
                                        <td>
                                            <div class="alert alert-danger">
                                                Belum Verifikasi Amir
                                                <br><a href="#" class="alert-link"><i class="fa fa-check-square-o"></i>Verifikasi Sekarang</a>
                                            </div>
                                            <div class="alert alert-info">
                                                Sudah diverifikasi Amir
                                            </div>
                                        </td>
                                        <td>
                                            <a href=""><button type="button" class="btn btn-info m-b-10 m-l-5">Lihat</button></a>
                                            <a href=""><button type="button" class="btn btn-warning m-b-10 m-l-5">Edit</button></a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
