<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>

</head>
<body>
    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Detail Notulensi</h3>
            </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item">Notulensi</li>
                    <li class="breadcrumb-item active">Detail</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="card-content">
                                <!-- Left sidebar -->
                                <div class="inbox-leftbar">
                                    <h6 class="">Pembahasan Pekerjaan</h6>
                                    <div class="list-group b-0 mail-list">
                                        <a th:each="progres : ${progress}" th:href="${'/pekerjaan/detail/'+progres.pekerjaan}" class="list-group-item border-0"><span class="fa fa-circle text-success
                                                mr-2"></span>[[*{progres.namaPekerjaan}]]</a>
                                    </div>
                                </div>
                                <!-- End Left sidebar -->
                                <div class="inbox-rightbar">
                                    <div class="mt-4">
                                        <h5>Amir : [[${notulensi.namaAmirMusyawarah}]]</h5>
                                        <hr/>
                                        <div class="media mb-4 mt-1">
                                            <div class="media-body">
                                                <span class="pull-right">[[${notulensi.convertedDate}]]</span>
                                                <h6 class="m-0">Notulen : [[${notulensi.namaNotulen}]]</h6>
                                            </div>
                                        </div>
                                        <div th:each="progres : ${progress}">
                                            <b><span class="fa fa-circle text-light
                                                mr-2"></span>[[*{progres.namaPekerjaan}]]</b>
                                            <p style="margin-bottom: 10px">[[*{progres.keterangan}]]<br><i class="fa fa-comment"></i> [[*{progres.keputusan}]]</p>
                                        </div>

                                        <hr/>
                                    </div>
                                    <div class="text-right">
                                        <a th:href="${'/notulensi/hapus/'+notulensi.id}" class="btn btn-link waves-effect waves-light w-md m-b-30">hapus</a>
                                        <button type="button" class="btn btn-success waves-effect waves-light w-md m-b-30">Verifikasi</button>
                                        <!--<button type="button" class="btn btn-default waves-effect waves-light w-md m-b-30">Verifikasi</button>-->
                                        <button type="button" class="btn btn-warning waves-effect waves-light w-md m-b-30">Edit</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
