<!DOCTYPE html>
<html layout:decorate="~{layout.html}"
      xmlns:layout="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <script th:src="@{/js/masjid/form_notulensi.js}"></script>
    <link th:href="@{/css/masjid/form_notulensi.css}" rel="stylesheet"/>
</head>
<body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- KONTENT START -->
    <div layout:fragment="content">
        <!-- Bread crumb -->
        <div class="row page-titles">
            <div class="col-md-5 align-self-center">
                <h3 class="text-primary">Notulensi Musyawarah</h3> </div>
            <div class="col-md-7 align-self-center">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
                    <li class="breadcrumb-item"><a href="javascript:void(0)">Notulensi</a></li>
                    <li class="breadcrumb-item active">Form Notulensi Musyawarah</li>
                </ol>
            </div>
        </div>
        <!-- End Bread crumb -->
        <div class="container-fluid">
            <div class="row">
                <!-- /# column -->
                <div class="col-lg-8">
                    <div class="card">
                        <h5> Deskripsi Musyawarah </h5>
                        <div class="card-body">
                            <div class="form-group">
                                <label class="control-label col-md-9 col-sm-9 col-xs-12">Nama Musyawarah<span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <input type="text" id="namaMusyawarah" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="Nama Musyawarah">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-9 col-sm-9 col-xs-12">Notulen <span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select name="namaNotulen" id="namaNotulen" class="form-control">
                                        <option>Pilih Notulen</option>
                                        <option th:each="anggota : ${anggotas}" th:value="${anggota.id}" th:text="${anggota.nama}">Pilih Notulen</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-9 col-sm-9 col-xs-12" >Amir <span class="required">*</span>
                                </label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select name="namaAmir" id="namaAmir" class="form-control">
                                        <option>Pilih Amir Musyawarah</option>
                                        <option th:each="anggota : ${anggotas}" th:value="${anggota.id}" th:text="${anggota.nama}">Pilih Amir Musyawarah</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-9 col-sm-9 col-xs-12">Peserta musyawarah</label>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <select name="namaHadirin[]" id="namaHadirin[]" class="select2_multiple form-control" multiple="multiple">
                                        <option>Pilih Anggota Hadir Musyawarah</option>
                                        <option th:each="anggota : ${anggotas}" th:value="${anggota.id}" th:text="${anggota.nama}">Pilih Hadir Musyawarah</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Tambah Laporan-->
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body p-b-0">
                            <h4 class="card-title">Tambah Laporan</h4>
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs customtab" role="tablist">
                                <li class="nav-item"> <a id="tabPekerjaan" class="nav-link active" data-toggle="tab" href="#home2" role="tab"><span class="hidden-sm-up"><i class="ti-pencil-alt2"></i></span> <span class="hidden-xs-down">Progres</span></a> </li>
                                <li class="nav-item"> <a id="tabTambah" class="nav-link" data-toggle="tab" href="#profile2" role="tab"><span class="hidden-sm-up"><i class="ti-plus"></i></span> <span class="hidden-xs-down">Baru</span></a> </li>
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane active" id="home2" role="tabpanel">
                                    <div class="p-20">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <select id="optionProgress" class="form-control col-md-12 col-sm-12 col-xs-12">
                                                <option value="">Pilih Laporan</option>
                                            </select>
                                            <br>
                                            <a onclick="tambahProgres()" class="btn btn-primary">Buat</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="profile2" role="tabpanel">
                                    <div class="p-20">
                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                            <input type="text" id="namaProgress" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="Laporan baru..">
                                            <input type="text" id="deskripsiProgress" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="Deskripsi..">
                                            <select name="namaPenanggungJawab" id="namaPenanggungJawab" class="form-control">
                                                <option value="">Pilih Penanggung Jawab</option>
                                                <option th:each="anggota : ${anggotas}" th:value="${anggota.id}" th:text="${anggota.nama}">Pilih Penanggung Jawab</option>
                                            </select>
                                            <br>
                                            <a onclick="tambahPekerjaanBaru()" class="btn btn-primary">Tambah</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane p-20" id="messages2" role="tabpanel">3</div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Laporan-->
                <div class="col-lg-4">
                    <div class="card">
                        <div id="kolomProgres" class="card-body">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12" >Detail Laporan<span class="required">*</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--Masukkan-->
                <div class="col-lg-4">
                    <div class="card">
                        <div id="kolomMasukkan" class="card-body">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Tanggapan pekerjaan lain<span class="required">*</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--Keputusan-->
                <div class="col-lg-4">
                    <div class="card">
                        <div id="kolomKeputusan" class="card-body">
                            <label class="control-label col-md-12 col-sm-12 col-xs-12">Keputusan<span class="required">*</span>
                            </label>
                        </div>
                    </div>
                </div>
                <!--Catatan tambahan-->
                <div class="col-lg-12">
                    <div class="card">
                        <h5> Catatan Tambahan </h5>
                        <div class="card-body">
                            <div class="form-group">
                                <input type="text" onkeyup="tambahInfo()" id="catatanTbmhn" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="Catatan tambahan..">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card col-lg-12">
                    <div id="hasil">
                    </div>
                    <button onclick="simpanNotulensi()" type="submit" class="btn btn-primary">Simpan</button>

                    <!-- The text field -->
                    <p id="error-details" hidden></p>
                    <button id="FailCopy" type="button"
                            onclick="copyToClipboard('p#error-details')" class="btn btn-link" hidden>Salin</button>
                    <a href="whatsapp://send?text=" hidden>Bagikan ke WhatsApp</a>
                </div>
                <!-- /# column -->
            </div>
        </div>
    </div>
    <!-- END KONTENT -->
</body>
</html>
